#sitelogo {
    width: 20vw;
    margin: auto;
}

@media (max-width: 600px) {
    .main-container {
        width: 90%;
        padding: 0.5rem
    }
}

@media (max-width: 600px) {
    #main-body-container {
        justify-content: space-between;
    }
}

@media (max-width: 600px) {
    .sidebar-container {
        width: 11%;
        padding: 0.5rem
    }
}

@media only screen and (max-width: 600px) {
    .room_button {
        text-align: justify;
        height: 4vh;
        width: 4vh;
    }
}

#ps_title {
    text-align: center;
    padding: 10px;
}

@media (max-width: 600px) {
    .ps_title {
        text-align: justify;
        padding: 0.5rem
    }
}

@media (max-width: 600px) {
    .quick_Search li {
        padding: 0.5rem;
        border: black, 4px;
    }
}

#main-container {
    width: 100%;
    display: flex;
    flex-direction: column;
}


@media (max-width: 600px) {
    .main-container {
        width: 90%;
        padding: 0.5rem
    }
}

#main-body-container {
    margin-left: 10px;
    margin-top: 15px;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

@media (max-width: 600px) {
    #main-body-container {
        justify-content: space-between;
    }
}

#sidebar-container {
    width: 250px;
    flex-direction: column;
    background-color: lightgray;
    aspect-ratio: 2/1;
    /* Maintains aspect ratio*/
}

@media (max-width: 600px) {
    .sidebar-container {
        width: 11%;
        padding: 0.5rem
    }
}


#sidebar {
    display: flex;
    flex-direction: column;
}

#sidebar * {
    margin: 5px;
}

#sidebar {
    align-items: center;
}

#chart-placeholder {
    width: 80%;
    justify-self: right;
}

nav {
    background-color: #7b1a7b;
}


#title {
    padding: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white
}

@media only screen and (max-width: 600px) {
    .title {
        font-size: 30px;
    }
}


#log_in {
    background-color: white;
    padding-right: 10px;

}

#Search_button {
    background-color: white;
}

.room_button {
    text-align: center;
    height: 10vh;
    width: 10vh;


}

@media only screen and (max-width: 600px) {
    .room_button {
        text-align: justify;
        height: 4vh;
        width: 4vh;
    }
}

#ps_title {
    text-align: center;
    padding: 10px;
}

@media (max-width: 600px) {
    .ps_title {
        text-align: justify;
        padding: 0.5rem
    }
}

#quick_Search li {
    padding: 10px;
    border: black, 10px;
    background-color: #7b1a7b;
    display: inline-block;
    color: white;
    border-radius: 10px;
    min-width: 100px;
}

@media (max-width: 600px) {
    .quick_Search li {
        padding: 0.5rem;
        border: black, 4px;
    }
}